.wrapper__playlist{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #1b022c 0%, #200224 100%) ;
}
.wrapper__playlist--new{
    border: none;
    display: flex;
}
.card{
    margin-top: 10px;
    margin-left:100px ;
    height: 300px;
    width: 210px;
    
    

}
.card:hover{
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 2px rgb(120, 15, 134);
cursor: pointer;
transition: all 0.5s;
transform: scale(1.05)
}
.title__playlist--main{
    margin-top: 20px;
    padding: 20px;
    color: azure;
    font-size: 24px;
    font-weight: 600;
    margin-left: 80px;
}


.title__playlist{
    color: aliceblue;
    padding: 10px;
    padding-top: 2px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
}
.description__playlist{
    margin: auto;
    color: rgb(131, 146, 146);
    padding: 10px;
}
.wrapper__playlist--recomend{
    border: none;
    
    display: flex;
     ;
    
}
.line{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    border-bottom: 1px solid rgba(165, 153, 153, 0.247);
    width: 86%;
    margin-left: 100px;
}
.item__name{
margin-left: 50px;
margin-top: 30px;
}
.playlist__item--wrapper{
padding-top: 20px;
}
.playlist__item--wrapper div h6{
    color: white;
}
.playlist__item--wrapper div h1{
    color: white;
}
.playlist__item--wrapper div p{
    color: white;
}
.item__title{
    margin-left: 50px;
}
.item__description{
    margin-left: 50px;
}
.tracks__card{
    width: 100%;
    height: 68vh;
    
    
}

.tracks__head{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 40px 600px 500px 580px 100px;
    
}
.tracks__head div p{
    color: aliceblue;
}
.line__playlist{
    width: 96%;
    margin-left: 2%;
    border: 1px solid rgba(165, 153, 153, 0.404);
}
.playlist__header{
    display: flex;
    background:  linear-gradient(90deg, #3e0663 0%, #50065a 100%) ;
    padding-bottom: 20px;
}
.item__title{
    margin-top: 10px;
}




@media (max-width: 1200px){
    .wrapper__playlist{
        height: 180vh;
    }
    .wrapper__playlist--new{
        display: grid;
        grid-template-areas: "a b " "c d ";
        justify-content: center;
        align-items: center;
       
    }
    .wrapper__playlist--recomend{
        display: grid;
        grid-template-areas: "a b " "c d ";
        justify-content: center;
        align-items: center;
    }
    .title__playlist--main{
        margin-left: 130px;
    }
    .line{
        margin-left: 150px;
        width: 78%;
    }
    .tracks__head{
        grid-template-columns: 30px 300px 300px 350px 80px;
    }
}
@media (max-width: 960px){
    .tracks__head{
        grid-template-columns: 30px 200px 200px 300px 80px;
    }
}