.player{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: linear-gradient(90deg, #04e0f0 0%, #06d3b1 100%) ;
}