.wrapper{
    display:block ;
    padding: 10px;
    width: 45%;
    position: relative;
    left: 27%;
    top: 30%;
    border: 1px solid rgb(100, 98, 98);
    margin-bottom: 2px;
    
    
}

.tracks__title{
    display: flex;
    width: 90%;
    height: 90px;
    /* border: 1px solid black; */
    position: relative;
    padding: 10px;
    
    
}
.track__main{
    display: block;
    position: relative;
    top: -15px;
    width: 30%;
}
.load__button{
    left: 70%;
    top:-60px ;
    
}

.title__list{
    margin-top: 30px;
    margin-left: 40%;
    color: aliceblue;
}


.info{
    position: relative;
    left: 300px;
}
.delete__button{

width: 60px;

background: none;
position: relative;
left: 310px;
cursor: pointer;
}

.buttons{
    position: relative;
    
    display: flex;
    justify-content: flex-end;
    
}
.track__name{
    width: 70px;
    height: 20px;
    color: azure;

}
.wrap{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #1b022c 0%, #200224 100%) ;
}

@media (max-width: 1200px){
    .wrapper{
        left: 23%;
        width: 60%;
    }
    .info{
        left: 150px;
    }
    .delete__button{
        left: 170px;
    }
    .title__list{
        margin-left: 35%;
    }
}
@media (max-width: 960px){
    .wrapper{
        left: 12%;
        width: 80%;
    }
    .load__button{
        left: 80%;
        top:-60px ;
        
    }
}